
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5DC;
}

button {
    border-radius: 4px;
}

#addItem {
    display: flex;
    border: 2px solid black;
    width: 300px;
    justify-content: space-between;
    padding: 3px;
    border-radius: 3px;
    background-color: #EEF0F3;
}

#addItem input:focus {
    outline: none;
}
#addItem input {
    height: 50px;
    padding: 2px;
    border: none;
    flex: 1;
    background-color: #EEF0F3;
}

#addItem button {
    flex:.5;
}
#buttonSpan {
    display: flex;
    flex-direction: column;

}

#add {
    background-color: green;
    color: white;
}

.clear {
    background-color: red;
    color: white;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 40px;
    margin-top:10px;
    border: 2px solid black;
    padding: 3px;
    border-radius: 3px;
    background-color: #EEF0F3;
}