
.drum-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('drummer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

.drum {
    display: flex;
    flex-direction: column;
    border: rgb(108, 108, 3) 2px solid;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: antiquewhite;
    
}